/netflix-report/ACCOUNT/AccountDetails.csv
/netflix-report/PROFILES/AvatarHistory.csv
/netflix-report/PAYMENT_AND_BILLING/BillingHistory.csv
/netflix-report/CUSTOMER_SERVICE/ChatTranscripts.txt
/netflix-report/CLICKSTREAM/Clickstream.csv
/netflix-report/CUSTOMER_SERVICE/CSContact.txt
/netflix-report/DEVICES/Devices.csv
/netflix-report/ACCOUNT/ExtraMembers.txt
/netflix-report/Folha de capa.pdf
/netflix-report/GAMES/GamePlaySession.txt
/netflix-report/CONTENT_INTERACTION/IndicatedPreferences.csv
/netflix-report/Informações adicionais.pdf
/netflix-report/CONTENT_INTERACTION/InteractiveTitles.csv
/netflix-report/IP_ADDRESSES/IpAddressesAccountCreation.csv
/netflix-report/IP_ADDRESSES/IpAddressesLogin.csv
/netflix-report/IP_ADDRESSES/IpAddressesStreaming.csv
/netflix-report/MESSAGES/MessagesSentByNetflix.csv
/netflix-report/CONTENT_INTERACTION/MyList.csv
/netflix-report.zip
/netflix-report/PROFILES/ParentalControlsRestrictedTitles.txt
/netflix-report/CONTENT_INTERACTION/PlaybackRelatedEvents.csv
/netflix-report/SURVEYS/ProductCancellationSurvey.csv
/netflix-report/PROFILES/Profiles.csv
/netflix-report/CONTENT_INTERACTION/Ratings.csv
/netflix-report/CONTENT_INTERACTION/SearchHistory.csv
/netflix-report/SOCIAL_MEDIA_CONNECTIONS/SocialMediaConnections.txt
/netflix-report/ACCOUNT/SubscriptionHistory.csv
/netflix-report/ACCOUNT/TermsOfUse.csv
/netflix-report/CONTENT_INTERACTION/ViewingActivity.csv
